@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  min-height: 100vh;
  overflow-x: hidden; }

.rounded {
  border-radius: 50px !important; }

form, .form-body {
  width: 100%; }
  form .helptext, .form-body .helptext {
    font-size: 12px;
    color: #666;
    display: block;
    margin-top: 5px; }

.sidebar {
  width: 70px;
  height: 100%;
  background-color: #f3f4f6;
  color: #27303f;
  display: flex;
  flex-direction: column;
  transition: width 0.3s ease;
  position: fixed;
  /* Mantém a barra lateral fixa na tela */
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 1000;
  /* Garante que a barra lateral esteja acima do conteúdo */ }
  .sidebar.open {
    width: 250px; }
  .sidebar.closed {
    width: 70px; }
    .sidebar.closed .sidebar-header .brand {
      display: none; }
    .sidebar.closed .menu .menu-item .text,
    .sidebar.closed .dropdown .btn .text {
      display: none; }
    .sidebar.closed .dropdown .btn {
      margin-left: calc(1rem - 4px);
      position: relative;
      width: 45px;
      height: 45px;
      border-radius: 50%; }
      .sidebar.closed .dropdown .btn .icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); }
    .sidebar.closed + .main-content {
      margin-left: 120px; }
  .sidebar .sidebar-header {
    display: flex;
    align-items: center;
    padding: 1rem;
    color: #515252; }
    .sidebar .sidebar-header .brand {
      margin: 0;
      margin-left: 1rem;
      font-size: 1.2rem;
      display: block; }
    .sidebar .sidebar-header .toggle-sidebar {
      background: none;
      border: none;
      color: #515252;
      font-size: 1.6rem;
      cursor: pointer; }
  .sidebar .menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem 0;
    flex-grow: 1;
    overflow-x: hidden;
    overflow-y: auto;
    /* Adiciona rolagem à barra lateral se necessário */ }
    .sidebar .menu .menu-item {
      display: flex;
      align-items: center;
      padding: 0.75rem 1.3rem;
      color: #515252;
      text-decoration: none;
      transition: background 0.3s ease; }
      .sidebar .menu .menu-item .icon {
        font-size: 1.5rem;
        margin-right: 1rem; }
      .sidebar .menu .menu-item .text {
        font-size: 1rem;
        text-align: left; }
      .sidebar .menu .menu-item.active {
        padding-left: calc(1rem + 1px);
        border-left: 4px solid #6355fa; }
      .sidebar .menu .menu-item:hover {
        background-color: #c7ccd5; }
  .sidebar .dropdown .btn {
    width: 200px;
    height: 50px;
    margin: 1.2rem 0 1.35rem 1rem;
    font-size: 1.35rem;
    background-color: #6355fa;
    color: #f3f4f6;
    transition: 0.35s ease-out; }
  .sidebar + .main-content {
    margin-left: 300px;
    transition: margin-left 0.3s ease;
    width: 100%; }

.day-list {
  min-width: fit-content;
  max-width: 1400px; }

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: transparent;
  border: 2px solid #ddd;
  border-radius: 35px;
  padding: 10px 20px;
  margin-right: .7rem;
  font-size: 1rem;
  font-weight: 500;
  color: #333;
  cursor: pointer;
  transition: all 0.3s ease; }
  select::after {
    content: '\f0d7';
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    font-size: 16px;
    color: #333; }
  select:focus {
    border-color: #6355fa;
    outline: none; }
  select:hover {
    border-color: #3623f9;
    background-color: #f9f9f9; }

@media (max-width: 768px) {
  .sidebar {
    width: 100vw;
    /* Limita a largura máxima da barra lateral */ }
    .sidebar.open {
      width: 100%;
      max-width: 300px; }
      .sidebar.open.open + .main-content {
        margin-left: 70px; }
    .sidebar.closed + .main-content {
      margin-left: 70px; }
  .menu {
    overflow-y: auto;
    /* Adiciona rolagem se necessário */
    max-height: calc(100vh);
    /* Ajusta a altura máxima da barra lateral */ } }

.btn {
  border-radius: 35px; }
  .btn.btn-success {
    background-color: #469f46 !important; }
  .btn.btn-danger {
    border: 1px solid #dd5f5f !important;
    background-color: transparent !important;
    color: #dd5f5f;
    font-weight: 600; }
  .btn.btn-primary {
    background-color: #6355fa !important;
    border-color: #1907e2;
    font-weight: 600; }
    .btn.btn-primary i {
      font-size: 1.3rem; }

.form-header {
  background-color: #6355fa;
  color: #fff;
  border-bottom: 1px solid #515252;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .form-header .form-title {
    font-size: 1.25rem;
    font-weight: 500; }

.form-body {
  color: #27303f;
  padding: 1.5rem;
  font-size: 1rem;
  line-height: 1.5;
  display: grid;
  flex-wrap: wrap; }
  .form-body input, .form-body textarea {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #515252;
    border-radius: 8px;
    padding: 0.5rem 1rem;
    color: #27303f;
    font-size: 1rem;
    width: 100%;
    box-sizing: border-box;
    transition: all 0.3s ease-in-out; }
    .form-body input:focus, .form-body textarea:focus {
      outline: none;
      border-color: #6355fa;
      box-shadow: 0 0 0 2px rgba(99, 85, 250, 0.25); }
    .form-body input:hover, .form-body textarea:hover {
      border-color: #383838; }
    .form-body input:disabled, .form-body textarea:disabled {
      background-color: #e0e0e0;
      border-color: #d0d0d0;
      cursor: not-allowed; }
    .form-body input::placeholder, .form-body textarea::placeholder {
      color: #515252;
      opacity: 0.6; }
  .form-body textarea {
    height: 60px; }
  .form-body input[type="date"] {
    background-color: #f3f4f6;
    border: 1px solid #515252;
    border-radius: 8px;
    padding: 0.5rem 1rem;
    color: #27303f;
    font-size: 1rem;
    width: 100%;
    box-sizing: border-box;
    transition: all 0.3s ease-in-out; }
    .form-body input[type="date"]:focus {
      outline: none;
      border-color: #6355fa;
      box-shadow: 0 0 0 2px rgba(99, 85, 250, 0.25);
      background-color: #fff; }
    .form-body input[type="date"]:hover {
      border-color: #383838; }
    .form-body input[type="date"]::-webkit-calendar-picker-indicator {
      background-color: #6355fa;
      border-radius: 50%;
      padding: 5px;
      cursor: pointer; }
    .form-body input[type="date"]:disabled {
      background-color: #e0e0e0;
      border-color: #d0d0d0;
      cursor: not-allowed; }
    .form-body input[type="date"]::placeholder {
      color: #515252;
      opacity: 0.6; }
  .form-body select {
    background-color: #f3f4f6;
    border: 1px solid #515252;
    border-radius: 8px;
    padding: 0.75rem 1rem;
    color: #27303f;
    font-size: 1rem;
    width: 100%;
    box-sizing: border-box;
    transition: all 0.3s ease-in-out;
    appearance: none; }
    .form-body select::-ms-expand {
      display: none; }
    .form-body select:focus {
      outline: none;
      border-color: #6355fa;
      box-shadow: 0 0 0 2px rgba(99, 85, 250, 0.25);
      background-color: #fff; }
    .form-body select:hover {
      border-color: #383838; }
    .form-body select::placeholder {
      color: #515252;
      opacity: 0.6; }
    .form-body select option {
      background-color: #f3f4f6;
      color: #27303f;
      padding: 1rem;
      margin-top: 1rem; }
  .form-body label {
    font-size: 1rem;
    font-weight: 500;
    color: #27303f;
    margin-bottom: 0.5rem;
    display: block; }

.form-footer {
  border-top: 1px solid #515252;
  padding: 1rem; }
  .form-footer .btn {
    background-color: #6355fa;
    color: #fff;
    border: none;
    border-radius: 35px;
    padding: 0.5rem 1rem;
    font-weight: 600;
    transition: background-color 0.3s ease; }
    .form-footer .btn:hover {
      background-color: #3623f9; }
    .form-footer .btn:focus {
      outline: none;
      box-shadow: 0 0 0 0.2rem rgba(99, 85, 250, 0.25); }
  .form-footer .btn-secondary {
    background-color: transparent;
    color: #27303f;
    border: 1px solid #515252;
    margin-right: 1rem; }
    .form-footer .btn-secondary:hover {
      background-color: #515252;
      color: #f3f4f6; }

table tr {
  height: 58px; }
  table tr td span.more-action:last-child {
    display: inline-block;
    margin-left: 2.5rem; }
  table tr td.trow {
    padding-left: 3rem;
    font-size: 1.05rem;
    font-weight: 600;
    color: #27303f;
    position: relative; }
    table tr td.trow p {
      font-size: .8rem;
      font-weight: normal;
      color: #515252; }
  table tr.no-divider {
    border-color: transparent; }

table tbody tr td .actions {
  opacity: 0;
  visibility: hidden; }

table tbody tr:hover td .actions {
  opacity: 1;
  visibility: visible; }

.actions-header {
  display: flex;
  align-items: center; }
  .actions-header h4 {
    font-size: 24px;
    font-weight: 600;
    color: #333;
    margin-bottom: 15px; }
  .actions-header .actions {
    display: flex;
    gap: 1.6rem; }

.dropdown-menu {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 250px;
  margin-top: 10px; }
  .dropdown-menu.show {
    padding: 0; }
  .dropdown-menu .dropdown-item {
    padding: 10px 20px;
    font-size: 16px;
    color: #333;
    text-transform: capitalize;
    transition: background-color 0.2s ease; }
    .dropdown-menu .dropdown-item i {
      background-color: #d0d0d0;
      padding: .25rem;
      border-radius: 8px; }
    .dropdown-menu .dropdown-item.despesas:hover i {
      background-color: #dc4b4bd6;
      color: #fff; }
    .dropdown-menu .dropdown-item.receita:hover i {
      background-color: #469f46db;
      color: #fff; }

.content-header {
  margin-left: -3rem;
  border-radius: 0 0 2% 2%; }
  .content-header .card {
    border: none; }
    .content-header .card h3, .content-header .card h4 {
      font-size: 1rem;
      color: #515252; }
    .content-header .card p {
      font-size: 2rem; }

ul.errorlist {
  background: #ffdddd;
  color: #d8000c;
  border: 1px solid #d8000c;
  padding: 10px;
  border-radius: 5px;
  text-align: left;
  font-size: 14px;
  list-style: none;
  margin-bottom: 10px; }

/* Reset básico */
:root {
  --font-header: 'Bebas Neue', serif; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif; }

.body-auth {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(135deg, #6355fa, #4c3cf9); }

.container-auth {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 500px; }

.form-auth-box {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  text-align: center;
  width: 100%; }
  .form-auth-box h2 {
    font-size: 2.5rem;
    letter-spacing: 4px;
    margin-bottom: 1rem;
    color: #333;
    font-family: var(--font-header); }
  .form-auth-box h3 {
    color: #6355fa;
    font-family: var(--font-header);
    font-weight: 800;
    font-size: 1.3rem;
    margin-bottom: .8rem; }
    .form-auth-box h3 span {
      color: #27303f;
      font-family: var(--font-header); }
  .form-auth-box form {
    /* Estilo dos campos de entrada */
    /* Estilização dos textos de ajuda */
    /* Ajuste para listas dentro das mensagens de ajuda */
    /* Botão */
    /* Estilização de mensagens de erro */ }
    .form-auth-box form p {
      text-align: left;
      margin-bottom: 15px; }
    .form-auth-box form label {
      font-weight: bold;
      display: block;
      margin-bottom: 5px; }
    .form-auth-box form input {
      width: 100%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
      font-size: 16px;
      outline: none;
      transition: border 0.3s; }
      .form-auth-box form input:focus {
        border: 1px solid #2575fc; }
    .form-auth-box form .helptext {
      font-size: 12px;
      color: #666;
      display: block;
      margin-top: 5px; }
    .form-auth-box form ul {
      padding-left: 20px;
      margin: 5px 0 0;
      list-style: square;
      text-align: left; }
      .form-auth-box form ul li {
        font-size: 14px;
        color: #666; }
    .form-auth-box form button {
      width: 100%;
      padding: 10px;
      background: #2575fc;
      color: white;
      border: none;
      border-radius: 5px;
      font-size: 16px;
      cursor: pointer;
      transition: background 0.3s; }
      .form-auth-box form button:hover {
        background: #1a5ec8; }
    .form-auth-box form ul.errorlist {
      background: #ffdddd;
      color: #d8000c;
      border: 1px solid #d8000c;
      padding: 10px;
      border-radius: 5px;
      text-align: left;
      font-size: 14px;
      list-style: none;
      margin-bottom: 10px; }
  .form-auth-box p {
    margin-top: 10px;
    text-align: left; }
  .form-auth-box a {
    color: #6e8efb;
    text-decoration: none; }
  .form-auth-box a:hover {
    text-decoration: underline; }

@media (max-width: 480px) {
  .form-box {
    padding: 15px; }
  input, button {
    font-size: 14px; } }
