{% extends "./base_app.html" %}
{% block AppContent %}
    {% if departamentos %}
    <table class="table table-responsive table-hover shadow">
        <thead class="table-light">
            <tr>
                <th>Nome</th>
                <th>Descrição</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for departamento in departamentos %}
            <tr>
                <td>{{ departamento.nome }}</td>
                <td>{{ departamento.descricao }}</td>
                <td class="text-end">
                    <div class="actions">
                        <a href="{% url 'departamentos:departamento-update' departamento.pk %}" class="btn btn-success" title="Editar Departamento"><i class="ri-edit-line"></i> Editar</a>
                        <a href="{% url 'departamentos:departamento-delete' departamento.pk %}" class="btn btn-danger" title="Excluir Departamento"><i class="ri-delete-bin-7-line"></i> Excluir</a>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>Nenhum Departamento Cadastrado!</p>
    {% endif %}
    {% if is_paginated %}
        <div class="pagination">
            <span class="step-links">
                {% if departamentos.has_previous %}
                    <a href="?page=1">&laquo; primeira</a>
                    <a href="?page={{ departamentos.previous_page_number }}">anterior</a>
                {% endif %}
                <span class="current">
                    Página {{ departamentos.number }} de {{ departamentos.paginator.num_pages }}.
                </span>
                {% if departamentos.has_next %}
                    <a href="?page={{ departamentos.next_page_number }}">próxima</a>
                    <a href="?page={{ departamentos.paginator.num_pages }}">última &raquo;</a>
                {% endif %}
            </span>
        </div>
    {% endif %}
{% endblock %}
